<div class=" flex justify-center flex-col gap-2">
<% for i in 0..@room.word.length do %>
    <div class="flex w-full justify-center gap-1 guess-row">
    <% for j in 0...@room.word.length do %>
        <div class="guess-letter">
        </div>
    <% end %>
    </div>
<% end %>
</div>