<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
<div class="flex flex-col gap-2">
    <% keyboard_lines.each do |line| %>
        <%= render_keyboard_line(line) %>
    <% end %>
</div>