<div class="bg-gray-900 w-3/5 h-4/5 rounded-xl p-3 min-w-[500px] max-w-[750px] min-h-[600px] flex flex-col justify-around shadow-lg shadow-white">
  <!-- guesses -->
  <%= render partial: 'play/join/guesses' %>
  <!-- keyboard -->
  <%= render partial: 'play/join/keyboard' %>
</div>


<script>
  const noOfLetters = <%= @room.word.length %>;
  const roomID = "<%= @room.roomID %>";
</script>

<script src="/assets/join_script.js" defer></script>