<div class=" bg-gray-900 h-screen w-full flex flex-col">
  <header class="flex h-16 border-b border-b-gray-600 justify-between p-5">
    <div>
      <h1 class="text-white text-xl" >Wordordle</h1>
    </div>
    <div class="flex gap-2">
      <h1 class="text-white">Profile</h1>
      <h1 class="text-white">Profile</h1>
    </div>
  </header>
  <main class="flex flex-1 bg-black w-screen justify-center items-center">
    <div>
      <div>
        <button class="bg-yellow-500 p-3 text-l rounded-xl">
          Create new game
        </button>
      </div>
      <div></div>
    </div>
  </main>
</div>
