<div class="h-screen w-full">
<%# this is supposed to be a ruby on rails app, print a demo message for it %>
    <h1 class="text-4xl text-center mt-10">About#index</h1>
    <p class="text-center mt-5">Find me in app/views/about/index.html.erb</p>
    <div class="flex justify-center mt-5">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="alert">Click me</button>
    </div>
</div>


<script>
    document.getElementById('alert').addEventListener('click', () => {
        alert('Hello from the alert');
    });
</script>